<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Diabetes prediction</title>
<link rel="stylesheet" href="https://ssl.gstatic.com/docs/script/css/add-ons1.css">
<style>
body {
  background-image: url('/static/BackgroundImage.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>
</head>
<body>
 <div class="main">
	<center><h2>Diabetes prediction (Demo ML deployment)</h2>
	<br>
    <p style="font-size:15px">The chances of having Diabetes is {{ prediction }} %</p>
</center>
 </div>	
</body>
</html>